*:not(dialog) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 16px;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 30px;
    font-size: 2rem;
}

.info-panel {
    font-size: 2rem;
}

.content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.game {
    display: grid;
    grid-template: repeat(3,100px)/ repeat(3,100px);
    gap: 22px;
}

.cell {
    border: 1px solid black;
    font-size: 5rem;
    text-align: center;
}

dialog {
    width: 350px;
    height: 150px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

button {
    padding: 2px 5px;
}